
*{
  overflow-x: hidden;


}


.background{

position: absolute;

  object-fit: fill;
  background-size: cover;
  border:1px solid black;
}

.body{
  width: 85.5rem;
  height:100vh;
  background:red;
  overflow-x: hidden;
}














